*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    width: 100%;
    height:100%;
}
#main #nav{
    height: 10%;
    width: 100%;
    background-color: hwb(0 15% 85%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
#nav h4{
    color : white;
}
i{
    color: white;
}
#section{
    text-align: center;
    height: 80%;
    width: 100%;
    background-color: black;
    color: white;
     background-image: url(https://www.apple.com/v/iphone-17-pro/d/images/overview/welcome/hero__bdntboqignj6_medium_2x.jpg);
    background-size: cover;
    background-position: center;
}
#section h1{
    padding-top: 30px;
    font-size: 50px;
}
#b1{
    background-color: rgb(76, 76, 242);
    color: white;
    padding: 10px 30px;
    border-radius: 30px;
    border: none;
}
#b2{
    background-color: rgb(76, 76, 242);
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    margin-left: 20px;
}
#button{
    margin-top: 30px;
}
#section p{
    font-size: large;
}
